*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body
{
    font-size: 14px;
    background: indigo;
}

.container
{
    background:  rgb(255, 20, 147);
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid black;
    box-shadow: 0 0 15px rgba(0, 191, 255, 1.0);
}

.container h2
{
        font-size: 32px;
        line-height: 26px;
        padding-bottom: 30px;  
        text-align: center;
}

.container h3
{
        font-size: 23px;
        line-height: 19px;
        padding: 15px;  
        text-align: left;
}

.input-name
{
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.fa-user
{
    padding: 8px 11px;
}

.name
{
    width: 45%;
    padding: 8px 0 8px 40px;
}

.input-name span
{
    margin-left: 35px;
}

.text-name
{
    width: 100%;
    padding: 8px 0 8px 40px;
}

.input-name i 
{
    position: absolute;
    font-size: 18px;
    color: darkblue;
    border-right: 1px solid #cccccc;
}

.email, .lock
{
    padding: 8px;
}

.text-name, .name
{
    border: 2px solid #cccccc;
    outline: none;
    transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
}

.text-name:hover, .name:hover
{
    background-color: yellow;
}

.text-name:focus, .name:focus
{
    border: 2px solid black;
}

.radio-button
{
    margin-right: 5px;
}

.mydate
{
    width: 100%;
    height: 100%;
}

.Text-doc
{
    border: 2px solid black;
    background: whitesmoke;
}

.Text-doc:hover
{
    color: black;
}

.check
{
    margin-right: 15px;
    position: relative;
}

.check::before
{
    content:"";
    display: inline-block;
    width: 8px;
    height: 8px;     
    margin-right: 8px;
    vertical-align: -2px;
    border: 2px solid black;
    padding: 2.5px;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2 ease;
}

.check::after
{
    border-right: 2px solid white;
    border-top: 2px solid white;
    content: "";
    height: 20px;
    left: 2px;  
    position: absolute;
    top: 7px;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    width: 7px;
    display: none;
}

.check-button
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

.check-button:hover + .check::before
{
    border-color: white;
}

.check-button:checked + .check::after
{
    animation: check 0.8s ease 0s running;
    display: block;
    width: 7px;
    height: 20px;
    border-color: black;
}

@keyframes check
{
    0%{height: 0; width: 0;}
    25%{ height: 0; width: 7px}
    50%{ height: 20px; width: 7px;}

}

.button
{
    background-color: indigo;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button:hover
{
    background: white;
}

@media (max-width: 480px)
{
    .container
    {
        width: 100%;
        padding: 5px;

    }
    .input-name
    {
        margin-bottom: -10px;
    }
    .name
    {
        width: 100%;
        padding: 8px 0 8px 40px;
        margin-bottom: 10px;
    }
    .input-name span
    {
        padding: 0;
        margin: 0;
    }
    .form-container
    {
        width: 100%;
    }
}